unit AbsenOperatorMesin;

interface

uses
  Windows, Messages, SysUtils, Variants, Classes, Graphics, Controls, Forms,
  Dialogs, Grids, Wwdbigrd, Wwdbgrid, DB, Wwdatsrc, OracleData, ExtCtrls,
  Buttons, StdCtrls, wwdblook, Wwdbdlg, wwdbdatetimepicker, Oracle;

type
  TAbsenOperatorMesinFrm = class(TForm)
    Panel1: TPanel;
    Panel2: TPanel;
    QBrowse: TOracleDataSet;
    QBrowseNIK: TStringField;
    QBrowseGRUP: TStringField;
    QBrowsePROSES: TStringField;
    QBrowseLOKASI: TStringField;
    dsQBrowse: TwwDataSource;
    wwDBGrid2: TwwDBGrid;
    QBrowseNAMA_KARYAWAN: TStringField;
    BitBtn1: TBitBtn;
    BtnFind: TSpeedButton;
    BtnOk2: TSpeedButton;
    BtnExport: TBitBtn;
    LookKaryawan: TwwDBLookupComboDlg;
    QBrowseTANGGAL: TDateTimeField;
    vTglAwal: TwwDBDateTimePicker;
    Label15: TLabel;
    BitBtn2: TBitBtn;
    QBuatAbsen: TOracleQuery;
    procedure BtnFindClick(Sender: TObject);
    procedure BtnOk2Click(Sender: TObject);
    procedure BtnExportClick(Sender: TObject);
    procedure FormShow(Sender: TObject);
    procedure LookKaryawanEnter(Sender: TObject);
    procedure QBrowseBeforeQuery(Sender: TOracleDataSet);
    procedure BitBtn2Click(Sender: TObject);
  private
    { Private declarations }
  public
    { Public declarations }
  end;

var
  AbsenOperatorMesinFrm: TAbsenOperatorMesinFrm;

implementation

uses DM;

{$R *.dfm}

procedure TAbsenOperatorMesinFrm.BtnFindClick(Sender: TObject);
begin
  if not QBrowse.QBEMode then
  begin
//    wwDBGrid2.Options:=wwDBGrid2.Options-[dgRowSelect,dgAlwaysShowSelection];
    QBrowse.QBEMode:=TRUE;
  end
  else
    QBrowse.ClearQBE;

end;

procedure TAbsenOperatorMesinFrm.BtnOk2Click(Sender: TObject);
begin
  if QBrowse.QBEMode then
  begin
    QBrowse.ExecuteQBE;
//    wwDBGrid2.Options:=wwDBGrid2.Options+[dgRowSelect,dgAlwaysShowSelection];
  end;

end;

procedure TAbsenOperatorMesinFrm.BtnExportClick(Sender: TObject);
begin
    DMFrm.SaveDialog1.FileName:=Caption+'.html';
    if DMFrm.SaveDialog1.Execute then
    begin
      try
        wwDBGrid2.ExportOptions.FileName:=DMFrm.SaveDialog1.FileName;
        wwDBGrid2.ExportOptions.TitleName:='<font size=4>'+Caption+'</font><br><font size=1></font>';
        wwDBGrid2.ExportOptions.Save;
        if MessageDlg('Ekspor Data Sukses, Lihat Hasil ?',mtWarning,[mbYes, mbNo],0)=mrYes then
        begin
          DMFrm.LMDStarter1.Command:=DMFrm.SaveDialog1.FileName;
          DMFrm.LMDStarter1.Execute;
        end;
  		Except
    	  ShowMessage('Ekspor Data Gagal !');
  		end;
    end;

end;

procedure TAbsenOperatorMesinFrm.FormShow(Sender: TObject);
begin
  vTglAwal.Date:=Trunc(DMFrm.QTimeJAM.AsDateTime);
  QBrowse.Open;
end;

procedure TAbsenOperatorMesinFrm.LookKaryawanEnter(Sender: TObject);
begin
  DMFrm.MKaryawanAktif.Open;
end;

procedure TAbsenOperatorMesinFrm.QBrowseBeforeQuery(
  Send